.navbar {
  background-color: #001021;
}

a.nav-item.nav-link.active:hover {
  color: #FFFFAF;
}

.footer {
  position: fixed;
  /* left: 0; */
  bottom: 0;
  width: 100%;
  color: #fff;
}

a.nav-link {
  color: #fff;
}

a.nav-link:hover {
  color: #FFFFAF;
}